body {
  height: 100vh;
  width: 100vw;
  color: #2d2d2d;
}

button {
  all: unset;
  padding: 0 5px 0 5px;
  color: #af4154;
  font-weight: bold;
}

form {
  z-index: 1;
  position: relative;
}

ul {
  all: unset;
  font-size: 20px;
  list-style: decimal;
}

li {
  all: unset;
  display: block;
  margin-top: 5px;
}

img {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background-repeat: no-repeat; /* background-image가 컨테이너를 가득 채우지 못할 경우에도 반복하지 않는다.*/
  object-fit: cover; /*사이즈가 container에 맞지 않아도 꽉 차도록 채운다.*/
  background-position: center; /* background-image가 컨테이너에 가운데로 오도록 한다. */
}

input {
  all: unset;
  padding: 3px 5px 2px 5px;
  border: #545454 2px solid;
  margin-bottom: 10px;
  font-size: 18px;
}

.hidden {
  display: none;
}

#weather {
  z-index: 2;
  position: relative;
  font-size: 24px;
}

#section {
  display: flex;
  padding-top: 100px;
}

#main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
}

#weather-section {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-section {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-list {
  /* z-index: 1;
  position: relative; */
}

#clock {
  font-size: 30px;
  margin-bottom: 20px;
}

#greeting {
  font-size: 50px;
  font-weight: bold;
}

.top-background {
  z-index: 1;
  position: relative;
}

#background-source {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 10px;
}

a {
  color: #ffffff;
}